@{
     ViewBag.Title = "Index";
     Layout = "~/Views/Shared/_Layout.cshtml";
 }

<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-center" style=" font-family: 'FontAwesome'; font-size: 30px;">
            <div>
                <p class="text-danger">Chào mừng bạn đã đến với trang quản trị</p>
            </div>
        </div>
    </div>
</div>
