

.textCss {
    font-family: 'Times New Roman', Times, serif;
    font-style: initial;
    font-display: inherit;
}

.custommessage {
    font-size: 13px;
}

.size {
    font-size: 30px;
}
.text-danger {
    font-family: 'FontAwesome';
}
