
@{
    ViewBag.Title = "SowDoNoDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h2 {
        font-style: initial;
        font-weight: bold;
        font-family: initial;
    }
</style>
<div class="pt-3">
    <a class="btn btn-info btn-sm" href="/Account/Index">
        <i class="fa fa-undo" aria-hidden="true"></i>
        Quay lại
    </a>
</div>
<h2 class="text-danger d-flex justify-content-center align-items-center">Bạn không được xóa user này !!!</h2>

